/*
	Theme Name: Plant Organics
	Theme URI: http://www.studiopress.com/
	Description: This is the sample theme created for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 2.3.0

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.3.0

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: genesis-sample
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Skip Links
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- After Header Navigation
	- Footer Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Max-width: 1340px
	- Max-width: 1200px
	- Max-width: 1023px
	- Max-width: 860px
- Print Styles
*/


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:0.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
	content: " ";
	display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
	clear: both;
	content: " ";
	display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 20px;
	font-size: 2rem;
}

body {
	background-color: #fff;
	color: #333;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: "Lato";
	font-size: 20px;
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

a {
	color: #92adc5;
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	color: #333;
	text-decoration: none;
	outline: none;
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #000;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Open Sans', sans-serif; */
	font-family: "Lato";
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 10px;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
}

h4 {
	font-size: 20px;
	font-size: 2rem;
}

h5 {
	font-size: 18px;
	font-size: 1.8rem;
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery img {
	border: 1px solid #eee;
	height: auto;
	padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
	border: 1px solid #999;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	/* background-color: #333; */
	background-color: #92adc5;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 16px 24px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: #c3251d;
	color: #fff;
}

.entry-content .button:focus,
.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
	padding: 8px 16px;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #eee;
	border-width: 0;
	color: #777;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
.quantity .screen-reader-text {
	border: 0;
	clip: rect(auto, auto, auto, auto) !important;
	height: auto;
	overflow: visible;
	position: relative !important;
	width: auto;
	word-wrap: normal !important;
	    clip-path: inherit;
}
.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1100px;
}

.site-inner {
	clear: both;
	padding-top: 40px;
	word-wrap: break-word;
}

.landing-page .site-inner {
	max-width: 800px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 1060px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* ### Content */

.content {
	float: right;
	width: 880px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 660px;
}

.full-width-content .content {
	width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
	border-radius: 50%;
	float: left;
}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 1px;
	padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
	background-color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 40px;
	padding: 60px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.search .product{
    padding: 30px 70px 0px;
}

.search .search-content h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.entry-content .search-form,
.site-header .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.site-header .search-form {
	float: right;
	margin: 12px auto 0;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}
.search .search-content{
	max-width: 750px;
	margin: auto;
}
.search .search-content h2{
	font-size: 20px;
}
.search .search-content .featured-img{
    width: 100%;
    height: 220px;
}
.search .search-content img:hover{
	opacity: .8;
}
.search .search-content p{
	font-size: 16px;
}
.search .site-inner main.content{
	padding-top: 0;
}
/* ## Titles
--------------------------------------------- */

.archive-description .entry-title,
.archive-title,
.author-box-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
	text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #92adc5;
}

.widget-title {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 20px;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.gallery-caption,
.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 28px;
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	margin-bottom: 40px;
	word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
	margin-bottom: 0;
}
.widget_media_image .widget-wrap img{
	max-width: 350px !important;
	width: 100%;
	margin-top: 5px;
}
.widget ul > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.footer-widgets .widget ul > li {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.footer-widgets .widget{
	margin-bottom: 0px;
}
.footer-widgets .footer-widgets-2 {
	/* width: auto;
	float: right; */
	text-align: right;
}
.footer-widgets .footer-widgets-2 .widget_custom_html{
	margin-top: 18px;
}

.footer-widgets .footer-widgets-2 #nav_menu-3 .widget-wrap{
	padding-top: 0px;
	margin-bottom: 6px;
}
.footer-widgets .footer-widgets-2 .widget-wrap .textwidget{
	margin-bottom: 20px;
	text-align: right;
}
.footer-widgets .footer-widgets-2 .widget-wrap .textwidget a{
	font-size: 14px;
	padding: 15px 40px;
    border-radius: 5px;
}
.footer-widgets .footer-widgets-3{
	color: #a5a6a5;
	padding-bottom: 50px;
    display: block;
}
.footer-widgets .footer-widgets-3 .widget_text#text-4{
	margin-bottom: 45px;
	text-align: left;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	background: none;
	padding: 0;
}

.featured-content .entry:last-of-type {
	margin-bottom: 0;
}

.featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
	color: #fff;
}

.sidebar .widget.enews-widget {
	background-color: #333;
}

.sidebar .enews-widget input,
.sidebar .enews-widget input:focus {
	border: 1px solid #333;
}

.sidebar .enews-widget input[type="submit"] {
	background-color: #c3251d;
	color: #fff;
}

.sidebar .enews-widget input[type="submit"]:focus,
.sidebar .enews-widget input[type="submit"]:hover  {
	background-color: #fff;
	color: #333;
}

.enews-widget input {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
	box-shadow: inset 0px 18px 8px -10px #CCC;
}

.site-header > .wrap {
	padding: 20px;
	max-width: 100%;
}
.site-header .widget-area.header-widget-area{
	width: auto;
	padding: 0px 0 16px;
	position: relative;
    z-index: 9;
}
.header-widget-area .header-right-widget{
    max-width: 260px;
    margin-left: auto;
}
.header-right-widget a .fa{
	color: #92adc5;
    float: left;
    position: relative;
    top: 5px;
    left: -10px;
}
.header-right-widget .login_account{
	color: #5c5c5c;
	font-size: 14px;
}
.header-right-widget .shop_link{
	display: inline-block;
    /* width: 100px; */
	max-width: 100%;
	padding-right: 0 !important;
}
.header-right-widget .cart_gen{
	font-size: 12px;
    color: #5c5c5c;
	text-align: left;
	line-height: normal;
}
.header-right-widget .shop-header a{
	text-decoration: none;
    padding: 0 15px;
}



/* ## Title Area
--------------------------------------------- */
.site-header .title-area{
	margin-top: -45px;
}
.title-area {
	float: left;
    padding: 10px 0;
    width: 100%;
	text-align: center;
	padding-bottom: 0;
}

.header-image .title-area {
	margin: 0 auto;
	max-width: 300px;
	padding: 0;
}

.header-full-width .title-area {
	float: none;
	width: 100%;
}

.site-title {
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #333;
	text-decoration: none;
}

.header-image .site-title > a {
	background-position: center !important;
	background-size: contain !important;
	float: left;
	min-height: 80px;
	width: 100%;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}
.simple-banner-page{
	background-color: #8d8d8d;
	background-size: cover;
	background-position: center;
    text-align: center;
    color: #fff;
    font-size: 3.5rem;
	padding: 138px 15px;
}
.section-shop-text{
	padding: 40px 15px 50px;
}
.section-shop-text p{
	font-size: 20px;
    color: #83858f;
    text-align: center;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}
/* ## single product
-------------------------------------------------------------------------------------- */
/* Hide HTML5 Up and Down arrows. */
.single-product .quantity input[type="number"]::-webkit-outer-spin-button, .single-product .quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rectangle-img {
    text-align: center;
    float: left;
    padding: 0 15px;
}
 
.woocommerce div.product form.cart{
    margin-top: 1.5rem;
}
.single-product .quantity input[type="number"] {
    -moz-appearance: textfield;
}
.single-product .product_title:nth-child(2){
	display: none;
}
.product p{
	margin-bottom: 0;
	font-weight: 600;
}
.products .section-faqs{
	margin-top: 0px;
	padding-bottom: 0;
}
.products .section-faqs .faq-wrap{
	border-bottom: none;
}
.products .section-faqs .faq-wrap .answer{
	padding: 0px 0px 0px;
}
.products .faq-wrap .answer p{
	font-size: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    max-width: 390px;
}
.woocommerce .products .faq-wrap .question{
	color: #02ca48;
	display: inline-block;
	padding-right: 20px;
	padding-bottom: 20px;
	font-size: 18px;
}
.woocommerce .products .faq-wrap .question:hover{
	color: #02ca48;
}
.woocommerce .products .faq-wrap .question::before{
    width: 11px;
	border: 0.5px solid;
	top: 45%;
}
.woocommerce .products .faq-wrap .question::after{
	border: 0.5px solid;
	height: 10px;
	top: 45%;
	right: 5px;
}
.woocommerce .content-product .add_to_cart_button{
	display: none;
}
.woocommerce .image-product{
	text-align: center;
}
.woocommerce .image-product img{
	max-width: 250px;
	margin-top: 48px;
}
.woocommerce .content-product .see-all{
    color: #83858f;
}

.woocommerce li.entry.product:nth-child(even) .row{
	display: flex;
	flex-direction: row-reverse;
}
.content-product p{
	margin-bottom: 5px;
	max-width: 550px;
	font-weight: 700;
}
.content-product a.see-all{
    font-size: 14px;
}
#wc-stripe-payment-request-wrapper{
	display: none !important;
}
.woocommerce .qty2 .quantity .qty{
	margin: 0 30px 0 40px;
	background: transparent;
}
.post-type-archive-product ul.products{
	max-width: 960px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin-bottom: 5em !important;
}

.woocommerce div.product .woocommerce-tabs .panel{
	max-width: 580px;
}
.woocommerce-Tabs-panel h2{
	color: #313131;
	font-size: 30px;
	padding: 0 0 40px 0 ;
}
.woocommerce-Tabs-panel p{
	font-size: 16px;
	color: #444444;
	line-height: 24px;
}
.woocommerce .summary  .quantity .qty{
    margin-left: 30px;
    margin-right: 40px;
}
.woocommerce div.product div.images.woocommerce-product-gallery{
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-size: cover;
	background-position: center; */
}
.woocommerce-product-gallery__image a{
	margin: auto;
}
.single-product .site-inner .content-sidebar-wrap .content{
	max-width: 100%;
	padding: 0;
	margin: 0;
}
.single-product .site-inner p{
    font-size: 16px;
    color: #5c5c5c;
    line-height: 22px;
    margin-bottom: 0;
}
.full-width{
	width: 100%;
	background: #fafafa;
	border-top: 1px solid #e7e7e7;
	padding: 50px 0 120px 0;
}
.woocommerce-product-gallery__image{
    height: 400px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-image: url(images/bckg-P.png);
    background-size: cover;
    background-position: center;
}
.woocommerce .product .woocommerce-product-gallery{
	order: 2;
}
.woocommerce .product .summary{
	order: 1;
}
.wc-tabs-wrapper{
	background: #fafafa;
}
.wc-tabs{
	display: none;
}
.custom-imgs{
	padding: 10px 0 10px 0px ;
}
.custom-imgs img{
	margin: 0 0 30px 0 ;
}
.custom-text{
	display: inline-block;
	color: #949494;
	font-size: 16px;
	margin: 0 30px 0 0;
}

.entry-summary p.price{
	display: inline-block;
}

.entry-summary p.price .woocommerce-Price-amount{
	color: #949494;
	font-weight: bold;
	font-size: 16px;
}
.entry-header .entry-meta{
	display: none;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger{
	display: none;
}

.woocommerce .quantity .qty{
	height: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 0 !important;
}
.site-inner main.content{
	padding: 70px 0px ;
}

.woocommerce-product-details__short-description{
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	max-width: 390px;
	margin-top: 40px;
}

.woocommerce-page div.product div.images{
	width: 50%;
}

.woocommerce-page div.product div.summary{
	width: 50%;
}

.product_title{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 50px;
}

.product_title span{
	color: #92adc5;
	font-size: 53.37px;
	letter-spacing: 4px;
}

.product_meta{
	display: none;
}

.cart .single_add_to_cart_button{
	background-color: #949494 !important;
	height: 29px;
	padding: 0 30px !important;
	font-size: 16px;
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	-o-border-radius: 5px !important;
	font-weight: 400 !important;
}

.cart .single_add_to_cart_button:hover{
	background: white !important;
	color: #949494 !important;
	border: 1px solid #949494 !important;
}

body.single-product .site-inner{
	width: 100%;
	max-width: 100%;
	padding: 0;
}

body.single-product .entry.product{
	margin: 0;
}

.content-sp{
	display: flex;
	flex-wrap: wrap;
    max-width: 1002px;
    margin: auto;
}

.section-top-sp{
	padding-top: 90px;
}
.woocommerce div.product form.cart {
	width: 100%;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}
#sfm-mob-navbar{
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1;
	width: 100%;
	text-align: center;
	font-family: Open Sans;
    color: #464646;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: left;
}

.genesis-nav-menu a {
	color: #464646;
	display: block;
	padding: 15px 15px;
	text-decoration: none;
	font-weight: 600;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.genesis-nav-menu a:hover{
	color: #02ca48 !important;
	text-decoration: none !important;
}

.genesis-nav-menu .menu-item:last-child a::after{
	color: #fff;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover  {
	color: #02ca48;
	/* text-decoration: underline; */
}

.genesis-nav-menu .sub-menu {
	border-top: 1px solid #eee;
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: 0;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 20px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	float: right;
}
#sfm-mob-navbar img{
    max-width: 225px;
    height: auto;
    padding: 15px 0px;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.menu-toggle,
.sub-menu-toggle {
	display: none;
	visibility: hidden;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## After Header Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #fff;
}

/* ## Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu {
	padding-bottom: 20px;
}

.site-footer .genesis-nav-menu a {
	padding: 0 20px 10px;
}
.site-footer .wrap p{
	color: #fff;
	font-size: 20px;
}





/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
	background-color: #fff;
	margin-bottom: 40px;
	padding: 70px 80px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #eee;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 1px solid #eee;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 40px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	background-color: #fff;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 8px 12px;
	text-decoration: none;
}

.archive-pagination a:focus,
.archive-pagination a:hover,
.archive-pagination .active a {
	background-color: #c3251d;
	color: #fff;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 60px 60px 32px;
}

.entry-comments {
	padding: 60px;
}

.comment-list li {
	padding: 40px 0 0 30px;
}

.comment-list .depth-1 {
	padding-left: 0;
}

.comment-header {
	margin-bottom: 30px;
}

.comment-content {
	clear: both;
}

.comment-content ul > li {
	list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-header p {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 16px;
	font-size: 1.6rem;
}

.sidebar .widget {
	background-color: #fff;
	padding: 40px;
}
/*My-account
-----------------------------------------------------------------------*/
.woocommerce-MyAccount-content{
	font-size: 16px;
}
.woocommerce-account .woocommerce-Address-title h3 {
	font-size: 22px !important;
}
.woocommerce-MyAccount-navigation ul{
	border-top: 1px solid #eee;
}
.woocommerce-MyAccount-navigation li{
	border-bottom: 1px solid #eee;
	margin-bottom: 0 !important;
	padding: 10px 0;
}
.woocommerce-MyAccount-navigation li a{
	font-size: 16px;
	padding: 0 0 0 15px;
}

.woocommerce-account .woocommerce form .form-row label.inline{
	display: block;
	padding: 10px 0;
}
.woocommerce-account .woocommerce form .form-row label.inline input[type="checkbox"]{
	height: auto;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
	padding: 0;
}

.woocommerce table.my_account_orders .button{
	padding: 10px;
    margin: 0 5px;
}

/*Messages
-------------------------------------------------------*/
.woocommerce-info ,.woocommerce-notices-wrapper {
    font-size: 16px;
}

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #efefef;
	clear: both;
	font-size: 18px;
	font-size: 1.8rem;
	padding: 40px 15px 20px;
	color: #fff;
}
.footer-widgets a{
	color: #fff;
}

.footer-widgets .wrap{
	text-align: center;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	width: 100%
}

.footer-widgets-1 {
	/* margin-right: 70px; */
	text-align: left;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
	width: 50%;
	padding-bottom: 35px;
}

.footer-widgets-3 {
	float: right;
}
.footer-widgets p{
	font-size: 20px;
	margin-bottom: 20px !important;
}
.footer-widgets .menu .menu-item{
	display: inline-block;
	color: #fff;
}
.footer-widgets .menu a{
	color: #000;
	font-size: 14px;
	text-decoration: none;
	font-weight: 600;
	padding: 0 16px;
}
.footer-widgets .menu a:hover{
	opacity: .6;
}
.footer-widgets .menu li:last-child a{
	padding-right: 0;
}
.footer-widgets .footer-widgets-3 p{
	font-size: 14px;
	margin-bottom: 0 !important;
}
.footer-widgets .footer-widgets-3 a{
	color:#a5a6a5;
}
.footer-widgets .footer-widgets-3 a:hover{
	color: #07ca48;
}
.footer-widgets .wrap i{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}
.footer-widgets .wrap i:hover{
    color: #fff;
}

.footer-widgets .btn-link{
	color: #000;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    padding: 0 16px !important;
}
/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #8d8d8d;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 60px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}

/* # 404
---------------------------------------------------------------------------------------------------- */
.error404 .site-inner main{
    padding: 0px 0px 40px;
}

.error404 .site-inner,
.search-results .site-inner{
	max-width: 100%;
	background: #fff;
}
.search-results .archive-description{
	background: #8d8d8d;
    color: #fff;
    text-align: center;
}
.search-results .archive-description h1{
	font-size: 3.5rem;
	margin-bottom: 0;
}
.error404 article.entry{
	max-width: 1020px;
	margin: 0 auto;
	padding: 50px 30px;
}
.error404 .entry-content img{
	margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    max-width: 150px;
}
.search-results .archive-description img{
	filter: brightness(0) invert(1);
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1340px) {

	.site-inner,
	.wrap {
		max-width: 1140px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 920px;
	}

	.content,
	.site-header .widget-area {
		width: 800px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 580px;
	}

	.sidebar-primary {
		width: 300px;
	}

	/* .footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 340px;
	} */

	.footer-widgets-1 {
		margin-right: 60px;
	}

}


@media only screen and (max-width: 1200px) {
	
	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	/* .footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		width: 300px;
	} */

	.footer-widgets-1 {
		margin-right: 30px;
	}

}
@media only screen and (min-width: 1023px) {
	.content-product p{
		font-size: 24px;
	}
}


@media only screen and (max-width: 1023px) {
	
	
	.content-sp{
		padding: 0 40px;
	}
	
	.woocommerce-product-details__short-description{
		max-width: 100%;
	}

	.custom-imgs{
		padding: 0;
	}

	.woocommerce .summary .quantity .qty,.woocommerce .qty2 .quantity .qty{
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 20px;
	}

	.product_title, .product_title span{
		font-size: 45px;
		max-width: 420px;
	}

	.woocommerce div.product .woocommerce-tabs .panel{
		max-width:100%;
	}

	.custom-imgs{
		text-align: center;
		max-width:100%;
		width: 100%;
	}

	.site-inner,
	.wrap {
		max-width: 800px;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu a,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.genesis-nav-menu li,
	.header-image .title-area,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	/* ### Genesis Responsive Menus */

	.genesis-responsive-menu .wrap {
		padding: 0;
	}

	.genesis-responsive-menu {
		display: none;
		position: relative;
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	.menu-toggle,
	.sub-menu-toggle {
		background-color: #fff;
		border-width: 0;
		color: #333;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle:focus,
	.menu-toggle:hover,
	.sub-menu-toggle:focus,
	.sub-menu-toggle:hover {
		background-color: #fff;
		border-width: 0;
		color: #c3251d;
	}

	.menu-toggle {
		line-height: 22px;
		position: relative;
		width: 100%;
		z-index: 1000;
	}

	.menu-toggle,
	.menu-toggle:focus,
	.menu-toggle:hover {
		border-top: 1px solid #eee;
	}

	.menu-toggle::before {
		font-size: 1.5em;
		margin-right: 10px;
		text-rendering: auto;
	}

	.sub-menu-toggle {
		float: right;
		padding: 13px 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu .sub-menu-toggle {
		padding: 12px 10px;
	}

	.sub-menu-toggle::before {
		display: inline-block;
		text-rendering: auto;
		-webkit-transform: rotate( 0 );
		-ms-transform:     rotate( 0 );
		transform:         rotate( 0 );
		-webkit-transition: transform .25s ease-in-out;
		-ms-transition:     transform .25s ease-in-out;
		transition:         transform .25s ease-in-out;
	}

	.sub-menu-toggle.activated::before {
		-webkit-transform: rotate( 180deg );
		-ms-transform:     rotate( 180deg );
		transform:         rotate( 180deg );
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		position: relative;
		text-align: left;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item:focus,
	.genesis-responsive-menu .genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		border: none;
		margin-bottom: 1px;
		padding: 15px 20px;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		border: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
		left: 0;
		margin-left: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a::after {
		content: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.footer-widgets-1,
	.footer-widgets-2 {
		margin: 0 auto 40px;
		display: inline-block;
    	width: auto;
	}
}

@media only screen and (max-width: 860px) {
	body,
	body > div {
		font-size: 18px;
		font-size: 1.8rem;
	}
	.woocommerce-product-gallery__image{
		height: 300px;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link{
		display: block;
		margin: 0;
		text-align-last: left;
	}
	
	.site-inner {
		padding: 5% 5% 0;
	}

	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.after-entry,
	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget {
		padding: 30px;
		margin-bottom: 5%;
	}

	.sidebar {
		/* margin-bottom: 5%; */
	}

	.pagination {
		margin: 5% auto;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	.footer-widgets-1, .footer-widgets-2 {
		margin: 0 auto 0px;
	}	

}
@media only screen and (max-width: 767px) {
	.product_title, .product_title span{
		font-size: 35px;
		line-height: 42px;
	}
	.title-area{
		display: none;
	}
	.site-header .widget-area.header-widget-area {
		padding: 0px 0 0px;
	}
	.header-widget-area{
		display: none;
	}
	.search-results .archive-description h1 {
		font-size: 2.5rem;
	}
	.rectangle-img{
		float: none;
	}
	.full-width{
	    padding: 50px 0 60px 0;
	}
	.content-product p{
		max-width: 100%;
	}
}


/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*::before,
	*::after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]::after,
	a[href^="#"]::after,
	.site-title > a::after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 2cm 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	.content,
	.content-sidebar {
		width: 100%;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
		top: -100px;
	}

	.author-box {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}


	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}