/** Typography */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Semibold.eot');
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Semibold.woff2') format('woff2'),
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.ttf') format('truetype'),
        url('../fonts/Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
/** Typography */

h1 {
	font-size: 50px;
	line-height: 54.34px;
	letter-spacing: -0.145px;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	line-height: 1em;
	color: #92adc5;
}
.btn{
    padding: 7px 16px;
    display: inline-block;
    font-weight: 500;
}
.btn-green{
	background-color: #02ca48;
	color: #fff;
}
.text-center{
	text-align: center;
}
/** Home */
.main-banner{
	background-size: cover;
	background-position: center;
	padding: 72px 0 83px;
}
.main-banner h1{
	color: #fff;
    padding: 40px;
    border: 1px solid #fff;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    max-width: 842px;
    margin: auto;
}

.home .site-container{
	background: #fff;
	max-width: 100%;
}
.home .site-inner {
	font-size: 16px;
	line-height: normal;
	padding-top: 0;
	max-width: 100%;
}
.home .site-inner p {
	margin-bottom: 17px;
}

.intro-section {
	margin-bottom: 50px;
	background: #ffffff;
	padding-top: 130px;
	margin-bottom: 0;
}
.intro-section h2 {
	margin-bottom: 40px;
	font-size: 35px;
	line-height: normal;
	color: #0c031b !important;
	font-weight: 900;
}
.intro-section h2 span {
	display: block;
	font-size: 53.37px;
	line-height: 64.29px;
	letter-spacing: normal;
}
.home .intro-section .image{
	text-align: right;
}

.home .intro-section .image img{
	position: relative;
    top: -190px;
}
.home .intro-section p{
	margin-bottom: 12px;
	font-size: 18px;
	font-family: "Lato";
	color: rgb(131, 133, 143);
	line-height: 1.7;
	font-weight: 400;
	max-width: 620px;
}  

.intro-section h1 span,
.home h2 {
	color: #92adc5;
}
.products-related{
	background: #f5faf7;
    padding: 0px 0 40px;
}

.img-home-p{
	width: 100%;
	padding: 50px 0 20px;
	min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-home-p a{
	display: block;
}
.img-home-p img{
	/* width: 100%;
	height: 100%; */
	/* object-fit: cover;
	object-position: center; */
	/* max-width: 200px; */
	max-width: 188px;
}
.products-related .col-md-6,
.products-related .col-sm-6{
	max-width: 450px;
}
.products-select{
	max-width: 250px;
	padding: 50px 0;
	margin: auto;
	text-align: center;
}
.products-related .col-sm-4:nth-child(3n+3) .products-select{
	margin-right: 0;
    margin-left: auto;
}
.products-related .col-sm-4:nth-child(3n + 4) .products-select,
.products-related .col-sm-4:nth-child(1) .products-select {
	margin-left: 0;
	margin-right: auto;
}
.product-custom-tt{
	font-size: 25px;
	font-weight: 400;
	padding-bottom: 10px;
	text-align: center;
}
.product-custom-tt a{
	color: #5dbe75;
	font-weight: 600;
}
.product-custom-tt a:after {
    content: '';
    border-bottom: 1px solid #83858f;
    display: block;
    max-width: 48px;
    margin: auto;
    margin-top: 15px;
}
.circle-item {
    display: inline-block;
	width: 62px;
	border: 1px solid #000;
    border-radius: 50%;
    height: 62px;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 3px;
}
.circles-wrap{
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
}
.circles-wrap .circle-item span{
	text-transform: uppercase;
}

.features-wrap {
	padding: 20px 15px;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.features-wrap .feature-item {
	width: 178px;
    display: inline-flex;
    max-width: 100%;
    margin: 25px 10px;
    align-items: center;
}
.feature-item span {
    font-size: 14px;
    font-weight: 700;
}
.features-wrap .feature-item img{
	max-width: 40px;
	margin-right: 10px;
}
.intro-section {
    padding-bottom: 25px;
}

.maximun{
	/* white-space: nowrap; */
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 38px;
	font-weight: 600;
}
.products-select .price{
	font-weight: 600;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
    pointer-events: none !important;
}
.section-crafting{
	background: #ffffff;
	padding-top: 80px;
	padding-bottom: 80px;
	background-position: right;
    background-repeat: no-repeat;
	margin-top: 140px;
	margin-bottom: 120px;
}
.section-crafting .crafting-content a{
	color: #02ca48;
	font-weight: 600;
}
.section-crafting h2 {
	margin-bottom: 70px;
	text-align: center;
	text-transform: uppercase;
}
.section-crafting .content-img{
	text-align: center;
}
.section-crafting .content-text{
	margin-bottom: 55px;
}

.section-crafting .content-text h2{
	color: #000;
    text-align: left;
    font-size: 35px;
    text-transform: initial;
    font-weight: 900;
	max-width: 389px;
	line-height: 1.284;
}

.section-faqs{
    padding: 10px 0 140px;
}
.section-faqs h2{
	color: #000;
    font-weight: 900;
    line-height: normal;
    font-size: 35px;
	max-width: 780px;
	margin-bottom: 35px;
}
.section-faqs {
    margin-top: 145px;
}
.section-faqs .more-questions{
	margin-top: 110px;
	font-size: 24px;
	font-weight: 500;
}
.section-faqs .more-questions strong{
	border-bottom: 2px solid #02ca48;
	font-weight: 900;
}
.section-faqs .more-questions a{
	color: #000;
}
.page-template-faq .section-faqs {
    margin-top: 70px;
}
.faq-wrap{
	border-bottom: 1px solid #02ca48;
}
.faq-wrap .question{
	position: relative;
	color: #83858f;
	cursor: pointer;
	padding: 30px 30px 30px 30px;
	margin-bottom: 0;
	font-weight: 500;
	transition: all 0.3s;
}
.faq-wrap .question.active {
    padding-bottom: 35px;
}
.faq-wrap .question::before{
	content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    font-size: 50px;
    color: #02ca48;
    width: 30px;
    border: 1px solid;
}
.faq-wrap .question::after{
	content: "";
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    font-size: 50px;
    color: #02ca48;
    height: 30px;
    border: 1px solid;
}
.faq-wrap .question.active::after{
	content: none;
}
.faq-wrap .answer{
	padding: 0px 30px 20px;
}
.faq-wrap .answer p{
	font-size: 24px;
	color: #83858f;
	max-width: 880px;
}
.arrow-link::after{
	content: '';
    background: url(../images/arrow-right.png);
    width: 23px;
    height: 8px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
}
.cart_gen_mob{
	display: none;
}
#sfm-sidebar .shop_link i,
#sfm-sidebar .shop_link_mobile i{
	float: left;
}
#sfm-sidebar .cart_gen_mob{
	margin-left: 8px;
}
#sfm-sidebar.sfm-compact .sfm-logo {
	margin-top: 30px;
	margin-bottom: 10px;
}
/* # Search Style
---------------------------------------------------------------------------------------------------- */
.search .search-content .featured-img{
	width: 100%;
	height: 220px;
}
.search .product{
	padding: 30px 70px 0px;
}
.search .search-content h2 {
    font-size: 24px;
    text-transform: uppercase;
}
/* # Contact Page
---------------------------------------------------------------------------------------------------- */
.contact-section{
	padding: 0px 0 100px;
}
.contact-section .wrap{
	max-width: 675px;
	background: #fff;
	opacity: .92;
	text-align: center;
	padding: 48px 0 55px;
}
.contact-section .wrap h2{
	margin-bottom: 25px;
	color: #06c948;
	font-size: 36px;
}
.contact-section .wrap p{
	font-size: 18px;
    color: #9b9ca1;
}
.contact-section .wrap form{
	max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.contact-section form p {
    margin-bottom: 0;
}
.contact-section .wpcf7 .ajax-loader{
	display: none;
}
input[type="submit"]{
	height: initial;
}

input, select{
	height: 40px;
}
.contact-section input,
.contact-section select,
.contact-section textarea{
	margin-bottom: 20px;
    resize: none;
    border: none;
    border-bottom: 1px solid #cccccc;
}
.contact-section input::placeholder,
.contact-section select::placeholder,
.contact-section textarea::placeholder{
	color: #b7b5b1;
	opacity: 1;
} 
span.wpcf7-not-valid-tip{
	font-size: 12px;
	position: relative;
	top: -10px;
}

.contact-section textarea {
	padding-top: 40px;
    height: 120px;
}
.contact-section textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height: 30px;
}
.contact-section textarea::-webkit-input-placeholder { /* Webkit */
    line-height: 30px;
}
.contact-section textarea:-ms-input-placeholder { /* IE */
    line-height: 30px;
}
.contact-section input[type="submit"]{
	background: #02ca48;
    width: 100%;
    padding: 4px 15px;
    margin-bottom: 0;
    border: none;
    font-size: 28px;
    font-weight: 500;
	line-height: normal;
	margin-top: 12px;
}
.wpcf7-response-output.wpcf7-validation-errors,
.wpcf7-not-valid-tip {
    display: none !important;
}

.contact-section input.wpcf7-not-valid{
	border: 2px solid #f00;
}
/* # Retail Location Page
---------------------------------------------------------------------------------------------------- */
.retail-section{
	background:#fff; 
	padding: 115px 0;
}
.retail-section .wrap{
	max-width: 1000px;
}
.retail-section .intro-retail{
	padding-bottom: 60px;
}
.retail-section .intro-retail .col-img{
	text-align: right;
}
.retail-section .intro-retail h2{
	font-size: 50px;
	line-height: 54px;
	color: #313131;
	font-weight: 300;
	letter-spacing: -0.02em;
	margin-bottom: 52px;
}
.retail-section .intro-retail p{
	font-size: 16px;
	line-height: 22px;
	color: #5c5c5c;
	margin-bottom: 16px;
	max-width: 420px;
}
.retail-section .intro-retail img{
	background-color: #e2e0df;
    width: 360px;
    max-width: 100%;
    min-height: 360px;
	display: inline-block;
	object-fit: cover;
    object-position: center;
}
.retail-section .full-w-image {
	width: 100%;
	height: 300px;
	background-color: #e2e0df;
	display: block;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	background-position-x: 50%;
}
.retail-section .bottom-images{
	padding: 70px 0 35px;
}
.retail-section .bottom-images img{
	background-color: #e2e0df;
	display: inline-block;
	width: 450px;
	min-height: 360px;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
.retail-section .bottom-images .col-img{
	text-align: right;
}



/* # Woocommerce Pages
---------------------------------------------------------------------------------------------------- */
td.product-quantity label.screen-reader-text{
	display: none;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    border-top-color: #92adc5;
}
.woocommerce a.button, 
.woocommerce a.button.alt, .woocommerce button.button, 
.woocommerce button.button.alt, .woocommerce input.button, 
.woocommerce input.button.alt, .woocommerce input.button[type="submit"], 
.woocommerce #respond input#submit, .woocommerce #respond input#submit.alt{
	background-color: #92adc5;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before{
	color: #92adc5;
}
.woocommerce-page .col-1,
.woocommerce-page .col-2{
	max-width: initial;
}
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text, 
#add_payment_method table.cart td.actions .coupon .input-text{
	border-color: #92adc5;
}
.woocommerce-cart table.cart td.actions .coupon .input-text::placeholder, 
.woocommerce-checkout table.cart td.actions .coupon .input-text::placeholder, 
#add_payment_method table.cart td.actions .coupon .input-text::placeholder{
	color: #92adc5;
	opacity: 1;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button, .woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce a.button, .woocommerce a.button.alt:hover{
    background-color: #8d8d8d;
}
.shop_table thead{
    background-color: #92adc5;
    color: #fff;
}
.woocommerce-cart .cart-collaterals .cart_totals h2{
	margin-bottom: 20px;
}
.woocommerce-cart table.cart {
    font-size: 16px;
}
.woocommerce-cart table.cart td{
	font-size: 1.5rem;
}
.woocommerce-MyAccount-navigation ul {
    border-top: 3px solid #92adc5;
    background-color: #f5f5f5;
}
.woocommerce-MyAccount-navigation ul li a{
	color: #515151;
}
.woocommerce-checkout #wc-stripe-new-payment-method{
	float: left;
}

.woocommerce-checkout .woocommerce-checkout #payment{
	padding: 0px;
}
/* Pagiation Woocommerce */
.woocommerce nav.woocommerce-pagination{
	padding-bottom: 50px;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    padding: 10px 15px;
    color: #83858f;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #05ca48;
    color: #ffffff;
}



.page-template-default .entry-content h2{
	margin-bottom: 50px;
}
.page-template-default .entry-content p{
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 22px;
}
.page-template-default .site-inner{
	max-width: 100%;
	background: #fff;
}
.page-template-default main.content{
	max-width: 1020px;
	margin-left: auto;
	margin: auto;
	float: none;
	padding-top: 0px;
}
.page-template-default main.content article{
	padding-top: 40px;
}
.woocommerce-cart table.cart .product-item-thumbnail-cart img{
	width: 50px;
}

/* # Woocomerce Shop
---------------------------------------------------------------------------------------------------- */
.woocommerce ul.products li.product a img{
	width: initial;
}
.woocommerce .content-product .see-all img{
	width: auto !important;
    display: inline-block !important;
	margin-bottom: 0 !important;
	margin-left: 4px !important;
}
/* # Ambassador 
---------------------------------------------------------------------------------------------------- */
.ambassador-section{
	padding: 10px 0;
	padding-bottom: 0;
}
.ambassador-section h2{
	font-size: 39px;
	color: #000;
	line-height: normal;
	margin-bottom: 30px;
}
.ambassador-section h2 span{
	color: #16ce57;
}
.ambassador-section p{
	color: rgb(165, 166, 165);
	line-height: 1.222;
	font-size: 18px;
}

.ambassador-img{
	display: flex;
	align-items: flex-end;
}
.ambassador-content{
	padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gray-spacer{
	min-height: 226px;
	background-color: #f2f2f2;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media (max-width:1260px)and (min-width:1200px){
	.wrap{
		max-width: 1050px;
	}
}

@media (max-width:1200px){
	.section-crafting{
		background-size: 50%;
	}
	.ambassador-section h2{
		font-size: 32px;
	}
}
@media (max-width:1023px){
	.retail-section .intro-retail{
		padding-left: 15px;
		padding-right: 15px;
	}
	.section-crafting {
	    background-size: 100%;
	    position: relative;
	}
	section.section-crafting:before {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-color: #0a0a0a73;
	    width: 100%;
	    height: 100%;
	}
	.section-crafting .content-text h2 {
	    color: #fff;
	}
}
@media (max-width:991px){
	.intro-section h1 span,
	.intro-section h1{
		font-size: 36px;
		margin-bottom: 25px;
		line-height: normal;
	}
	h2{
		font-size: 28px;
	}
	.section-crafting h2{
		margin-bottom: 30px;
	}
	.retail-section .intro-retail{
		padding-left: 0px;
		padding-right: 0px;
	}
	.retail-section .intro-retail h2{
		font-size: 40px;
		line-height: 44px;
	}
	.intro-section{
		padding-top: 80px;
	}
	.intro-section h2{
		font-size: 26px;
	}
	.home .intro-section p{
		line-height: 26px;
		font-size: 16px;
	}
	.home .intro-section .image img {
		top: -100px;
	}
	.section-crafting .content-text h2{
		font-size: 28px;
	}
	.simple-banner-page h1{
		font-size: 32px;
		line-height: normal;
	}
	.row-ambassador{
		flex-direction: column-reverse;
	}
	.ambassador-img{
		justify-content: center;
	}
}
@media (max-width:860px){
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
		width: 100%;
	}
}

@media (max-width:767px){
	h2{
		font-size: 25px;
	}
	.retina.logo img{
		max-width: 280px;
	}
	.intro-section {
		margin-bottom: 30px;
	}
	.section-crafting .content-img{
		margin-bottom: 20px;
	}
	.section-crafting .content-text {
		margin-bottom: 30px;
	}
	.section-crafting {
	    padding-bottom: 3px;
	    padding-top: 160px;
	}
	.footer-widgets p {
		font-size: 16px;
	}
	#menu-main-menu {
		display: none;
	}
	.cart_gen_mob{
		display: inline-block;
		margin-right: 10px;
	}
	.cart_gen{
		display: none;
	}
	.header-right-widget a .fa {
		float: right;
		top: 5px;
		left: 0px;
	}
	.header-right-widget .shop-header a {
		text-align: right;
	}
	.page-template-default main.content article{
		padding-top: 30px;
	}
	.retail-section .intro-retail .col-img,
	.retail-section .bottom-images .col-md-6 {
		text-align: center;
	}
	.contact-section{
		padding: 30px 10px;
	}
	.retail-section .intro-retail h2 {
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 30px;
	}
	.retail-section {
		background: #fff;
		padding: 20px 0;
	}
	.retail-section .intro-retail img{
		min-height: 250px;
	}
	.retail-section .bottom-images {
		padding: 40px 0 15px;
	}
	.products-related{
		padding: 10px 0;
	}
	.product-custom-tt{
		padding-bottom: 10px;
		font-size: 20px;
		font-weight: 600;
	}
	.products-related .col-md-6{
		max-width: 100%;
	}
	.products-select{
		margin: 0 auto;
		max-width: 100%;
	}
	.img-home-p{
		padding: 25px 0;
		text-align: center;
	}
	.intro-section h2 {
		font-size: 25px;
	}
	.home .intro-section .image img{
		position: initial;
		max-width: 250px;
	}
	.home .intro-section .image {
		text-align: center;
		padding-top: 50px;
	}
	.intro-section {
		padding-top: 40px;
	}
	.main-banner {
		padding: 72px 0 70px;
	}
	.main-banner h1{
		font-size: 30px;
    line-height: normal;
	}
	.section-crafting{
		margin-top: 50px;
		margin-bottom: 50px;
		background-size: cover;
		background-position: center;
	}
	.section-faqs {
		margin-top: 50px;
		padding: 10px 0 60px;
	}
	.section-faqs .more-questions{
		margin-top: 60px;
	}
	.section-crafting .content-text h2,
	.section-faqs h2{
		font-size: 25px;
		line-height: normal;
	}
	.faq-wrap .question{
		padding: 20px 15px;
		font-size: 20px;
		padding-right: 35px;
	}
	.faq-wrap .answer p,
	.section-faqs .more-questions{
		font-size: 18px;
	}
	/* Shop */
	.woocommerce .image-product img{
		padding-top: 20px;
	}
	.section-shop-text{
		padding: 30px 15px 30px;
	}
	.simple-banner-page{
		padding: 90px 15px;
	}

	/* Footer */
	.footer-widgets .widget{
		text-align: center;
	}
	.contact-section .wrap{
		padding: 0px 0 30px;
	}
	.footer-widgets .menu .menu-item {
		display: block;
		border-bottom: 1px solid #a9aaa9;
		padding: 10px;
		margin-bottom: 0;
	}
	.footer-widgets-1, 
	.footer-widgets-2{
		display: block;
    	width: 100%;
	}
	.footer-widgets .footer-widgets-2{
    	float: none;
	}
	.footer-widgets .footer-widgets-2 .widget-wrap .textwidget{
		text-align: center;
	}
	.footer-widgets .menu a{
		padding-left: 0;
		padding-right: 0;
	}
	/* Page Product */
	.woocommerce .site-main li.entry.product > .row,
	.products li > .row{
		flex-direction: column-reverse;
	}
	.woocommerce ul.products.columns-1 li.product:nth-child(odd), 
	.woocommerce-page ul.products.columns-1 li.product:nth-child(odd){
		background-color: #f5faf6;
	}
	.woocommerce ul.products.columns-1 li.product,
	.woocommerce-page ul.products.columns-1 li.product{
		padding: 40px 15px 50px 15px;
    	margin: 0;
	}
	.archive.woocommerce .site-inner #primary{
		margin-left: -5%;
    	margin-right: -5%;
	}

	.gray-spacer {
		min-height: 100px;
	}
}


@media (max-width:576px){
	.main-banner {
		padding: 60px 0 60px;
	}
	.main-banner h1 {
		font-size: 26px;
		line-height: normal;
		padding: 15px;
	}
	.intro-section h1 span,
	.intro-section h1{
		font-size: 30px;
		margin-bottom: 25px;
		line-height: normal;
	}
	.footer-widget-area .menu{
		margin-bottom: 30px;
	}
	.retail-section .full-w-image{
		background-attachment: initial !important;
		height: 200px;
	}
	.retail-section .intro-retail img{
		width: 100%;
	}
	.retail-section .bottom-images {
		padding: 40px 15px 15px;
	}
	.retail-section .bottom-images img{
		min-height: 220px;
	}
	.page-template-default main.content article {
		padding-top: 0px;
	}
	.products-select{
		text-align: center;
		padding: 10px 0;
	}
	.img-home-p {
		max-width: 200px;
		margin: 0 auto;
	}
	.section-crafting{
		/* padding-top: 50px;
		padding-bottom: 60px; */
	}
	.woocommerce-checkout .entry{
		padding: 15px
	}
}